@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Oswald:400,500,600,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans-main: "Open Sans", sans-serif;
  --ff-sans-alt: "Oswald", sans-serif;
}

body {
  font-family: var(--ff-sans-main);
  background-color: rgb(232, 232, 246);
  color: rgb(32, 32, 32);
}

html {
  scroll-behavior: smooth;
}

a {
  font-family: var(--ff-sans-alt);
}

.logo-container {
  min-height: 10%;
  min-width: 90%;
  /* background-color: red; */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
  margin-top: 0.2rem;
  margin-left: 1rem;

  display: flex;

  /* transition events */
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.logo-container .logo-text {
  align-self: center;
  margin-left: 0.6rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -0.1rem;
  color: rgb(172, 64, 64);
}

.logo-container .logo-text span {
  color: rgb(20, 20, 117);
}

.logo-container .logo-image {
  width: 8%;
  height: auto;
  object-fit: contain;
}

.logo-container.logo-not-visible {
  transform: translateY(-200%);
  visibility: none;
  pointer-events: none;
  opacity: 0;
}

/* NAVBAR STYLING */
.navbar {
  min-width: 100%;
  min-height: 10%;
  /* background-color: rgb(214, 214, 228); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-touch-element {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  cursor: pointer;
}

.navbar-square {
  position: absolute;
  background-color: rgb(233, 180, 46);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-link-container {
  position: fixed;
  opacity: 0;

  min-width: 90%;
  min-height: 10%;

  background-color: rgb(232, 232, 246);
  /* background-color: rgb(214, 214, 228); */

  transform: translateX(-200%);
  transition: all 0.7s ease-in-out;
}

.navbar-link-container.navbar-visible {
  opacity: 1;
  transform: translateX(0);
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.5rem;
  margin-left: 1.5rem;
}

.navbar-link a {
  text-decoration: transparent;
  color: rgb(32, 32, 32);
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-right: 1rem;

  /* transition: all 0.2s linear;
  padding-bottom: 0.3em; */
  position: relative;
}

.navbar-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3em;
  height: 5px;
  width: 100%;
  transform: scale(0);

  transform-origin: left;
  transition: all 0.3s linear;
}

.navbar-link .link-1:hover::after {
  background-color: #f0d287;
  transform: scale(1);
}

.navbar-link .link-2:hover::after {
  background-color: #a495b4;
  transform: scale(1);
}
.navbar-link .link-3:hover::after {
  background-color: #636fa4;
  transform: scale(1);
}
/* .navbar-link .link-4:hover::after {
  background-color: #636fa4;
  transform: scale(1);
} */

/* OPEN NAVBAR STYLING */

.navbar-touch-element.navbar-open .square-1 {
  background-color: #f0d287;
  transition: all 0.1s linear;
  transform: translate(-130%, -120%);
}

.navbar-touch-element.navbar-open .square-2 {
  background-color: #a495b4;
  transition: all 0.2s linear;
  transform: translate(30%, -120%);
}

.navbar-touch-element.navbar-open .square-3 {
  background-color: #7f82aa;
  transition: all 0.3s linear;
  transform: translate(30%, 20%);
}

.navbar-touch-element.navbar-open .square-4 {
  background-color: #636fa4;
  transition: all 0.4s linear;
  transform: translate(-130%, 20%);
}

.main-content {
  min-height: 100vh;
}

/* BLOG CONTAINER STLYING */

.blog-post-container > * {
  /* margin: 0 auto; */
  padding: 1rem;
}

.blog-post-container:first-of-type {
  margin-top: 15%;
}

.blog-post-container {
  font-family: var(--ff-serif-main);

  transition: box-shadow 0.4s linear;
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 5%;
}

.blog-post-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  /* transform: translateY(50%); */
  height: 100%;
  background-color: rgb(233, 180, 46);
}

.blog-post-container:hover {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.15);
}

.blog-title {
  font-family: var(--ff-sans-alt);

  font-size: 2.7rem;
  text-transform: uppercase;
  color: rgb(20, 20, 117);
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.blog-timestamp {
  padding-top: 0;
  font-weight: 500;
  font-family: var(--ff-sans-alt);
}

.blog-contents,
.blog-contents-more {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.1rem;
}

.blog-contents-more {
  display: none;
}

.blog-contents-more.full-blog-visible {
  display: block;
}

.blog-permalink {
  text-decoration: none;
  font-size: 1.3rem;
  /* color: rgb(85, 14, 85); */
  color: rgb(20, 20, 117);
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.blog-permalink::after,
.blog-permalink.full-blog-active::after {
  position: absolute;
  color: rgb(32, 32, 32);
  margin-top: -0.65rem;
  margin-left: 0.3rem;
  font-size: 2.2rem;
  transition: color 0.4s ease-in-out;
}

.blog-permalink::after {
  content: attr(data-link-more);
}

.blog-permalink.full-blog-active::after {
  content: attr(data-link-less);
}

.blog-permalink:hover.blog-permalink::after,
.blog-permalink:hover.blog-permalink::after {
  color: rgb(217, 165, 32);
}

#page-footer {
  height: 20vh;
  width: 100vw;
  margin-top: 6vh;
  background-color: #3a4161;
  margin-left: 0;
  color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02rem;
}

#page-footer #to-top-icon {
  position: absolute;
  top: 10%;
  right: 2%;
  font-size: 1.5rem;
  color: rgb(16, 16, 16);
}

#footer-content-icons {
  padding-top: 0.5rem;
}

#footer-content-icons i {
  margin-left: 0.5rem;
}

#footer-content a {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;

  transition: all 0.3s ease-in-out;
}

#footer-content a:hover {
  color: rgb(233, 180, 46);
}

@media screen and (max-width: 525px) {
  .navbar-link a {
    font-size: 1rem;
  }

  .navbar-touch-element {
    position: absolute;
    right: 2%;
    top: 0;
    height: 100%;
    width: 10%;
    cursor: pointer;
  }
}
