@import "./style.css";

.portfolio-display {
  min-height: 100vh;
  width: 100%;
  margin-top: 15%;
  padding: 0 2rem;

  display: grid;
  row-gap: 1rem;
  place-items: center;

  position: relative;
}

.portfolio-project {
  width: 90%;
  height: 600px;
}

.portfolio-desc-title {
  font-size: 3.1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
  font-weight: 900;
  color: rgb(172, 64, 64);
}

.arrow-left,
.arrow-right {
  position: absolute;
  color: rgb(20, 20, 117);
  font-size: 2.5rem;
  cursor: pointer;
  pointer-events: all;
}

.arrow-left {
  top: 1%;
  left: 5%;
}

.arrow-right {
  top: 1%;
  right: 5%;
}

.portfolio-desc-text {
  font-size: 1.2rem;
  font-weight: 500;
  width: 80%;
  line-height: 2.3rem;
  /* align-self: center; */
  font-style: italic;
}

.portfolio-display iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: none;
}

.portfolio-project-link {
  margin-top: 0.6rem;
  text-decoration: none;
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
}

.portfolio-project-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3em;
  height: 5px;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);

  -webkit-transform-origin: left;

          transform-origin: left;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.portfolio-project-link:hover::after {
  background-color: #28a745;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 520px) {
  .arrow-left,
  .arrow-right {
    font-size: 1.9rem;
  }

  .arrow-left {
    top: 1.5%;
    left: 2%;
  }

  .arrow-right {
    top: 1.5%;
    right: 2%;
  }
}
